.ItemCount{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn{
    background-color: #384259;
    height: 40px;
    border-right: none !important;
}
.AddToCart{
    width: 300px;
    padding: 0px 10px !important;
}