/* Navbar */

.navbar{
    width: 750px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.navbar a{
    text-decoration: none;
    color: #384259;
    font-weight: bold;
    padding: 8px;
    transition: all 0.5s;
}
.navbar a:hover{
    color: #00FF8F;
    transition: all 0.5s;
}